.DS_Store
.AppleDouble
.LSOverride

*.fseventsd
.Spotlight-V100
.Trashes
.VolumeIcon.icns

Icon?
._*

*.dmg

*.DS_Store
*.AppleDouble
*.apdisk

build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcworkspace
!default.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj

*.dSYM/

.swiftpm
.build/

Carthage/Build/

Pods/

fastlane/report.xml
fastlane/screenshots
fastlane/test_output


*.xcarchive

*.xcuserstate